/*shotcuts start*/

.navbar-tray-shortcuts ul li a{
  padding-left:40px !important;
}
.navbar-tray-shortcuts ul li a:before{
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: '';
  display: block;
  height: 100%;
  left: 0.6667em; 
  position: absolute;
  top: 0;
  width: 20px;
}
.navbar-tray-shortcuts ul li a:before{
  background-image: url("../images/787878/questionmark-disc.svg");
}
.navbar-tray-shortcuts ul li a.active:before{
  background-image: url("../images/000000/questionmark-disc.svg");
}
.navbar-tray-shortcuts ul li a.My.Workbench:before{
  background-image: url("../images/787878/dashboard.svg");
}
.navbar-tray-shortcuts ul li a.active.My.Workbench:before{
  background-image: url("../images/000000/dashboard.svg");
}
.navbar-tray-shortcuts ul li a.Manage.Content:before{
  background-image: url("../images/787878/wrench.svg");
}
.navbar-tray-shortcuts ul li a.active.Manage.Content:before{
  background-image: url("../images/000000/wrench.svg");
}
.navbar-tray-shortcuts ul li a.Add.Content:before{
  background-image: url("../images/787878/file.svg");
}
.navbar-tray-shortcuts ul li a.active.Add.Content:before{
  background-image: url("../images/000000/file.svg");
}
.navbar-tray-shortcuts ul li a.Manage.People:before{
  
  background-image: url("../images/787878/people.svg");
}
.navbar-tray-shortcuts ul li a.active.Manage.People:before{
  background-image: url("../images/000000/people.svg");
}
.navbar-tray-shortcuts ul li a.Shortcuts.By.Role:before{
  background-image: url("../images/787878/puzzlepiece.svg");
}
.navbar-tray-shortcuts ul li a.active.Shortcuts.By.Role:before{
  background-image: url("../images/000000/puzzlepiece.svg");
}

#navbar-link-admin-workbench:before{
  background-image: url("../images/787878/dashboard.svg");
}
#navbar-link-admin-workbench.active:before{
  background-image: url("../images/000000/dashboard.svg");
}

#navbar-administration .navbar-tab > *.navbar-active {
     background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
     background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}

#navbar-administration .navbar-tray a:hover, #navbar-administration .navbar-tray a:active, #navbar-administration .navbar-tray a:focus, #navbar-administration .navbar-tray a.navbar-active {
    text-decoration: none !important;
}
#navbar-administration .navbar-tab a:focus {
     outline: none;
     border-color: #000; 
}
#navbar-administration .navbar-box a:focus{
     outline: none;
     border-color: #fff;
}

#navbar-administration .navbar-box a:hover{
     background: #F5F5F5;
}

#navbar-administration .navbar-menu .navbar-menu a:hover {
     color: #000;
}

/*shotcuts end*/

/*===========================================================================================================================================================================*/

/*right side menu start*/
.slidx-menu {
    background: #333;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-box-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
    padding-top:40px;
}
.slidx-menu a.first{
    border-top: 1px solid #000;  
}
.slidx-menu a.active,.vertical-tab-button a{
    //background-color: #eeeeee;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
    color: #fff;
}

.slidx-menu a{
    font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
    padding: 15px 0px 15px 30px;
    display: block;
    color: #fff;
    font-size: small;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.slidx-menu a:hover {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
    cursor: pointer !important;
    color: #fff !important;
    text-decoration: none !important;
}

#slidx-button {
    padding: 5px 30px;
    color: #fff;
    font-size:15px;
    text-shadow: #38a 0px 1px 0px !important;
    font-family: "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
    font-weight: bold;
    background-color: #7bc;
    -ms-transform:rotate(270deg); 
    -moz-transform:rotate(270deg); 
    -webkit-transform:rotate(270deg); 
    -o-transform:rotate(270deg); 

}

#slidx-button:hover {
    cursor: pointer;
    text-decoration: none !important;
}

/*right side menu end*/

/*===========================================================================================================================================================================*/

/*content menu start*/
#menu-overview-form td {
     position:relative;
}

#menu-overview-form td .ctools-dropbutton{
     top:15px;
}
/*content menu end*/

/*===========================================================================================================================================================================*/

/*edit module filter tab start*/

#module-filter-tabs li {
     background: #f9f9f9 !important;
     border-top: 1px solid #dddddd !important;
}
#module-filter-tabs li a:hover{
     background: #eee !important;
}
#module-filter-tabs li.selected a:hover{
     background: #fff !important;
}
#module-filter-tabs li.suggest {
  background: #eee !important;
}

/*edit module filter tab end*/

/*===========================================================================================================================================================================*/

/* Content edit page start*/
.vertical-tabs .vertical-tabs-list {
    padding-right: 15px;
}

.vertical-tabs-list li a {
     position: relative;
     background: #7bc !important;
     color: #fff !important;
     text-shadow: #38a 0px 1px 0px !important;
     border-right: 1px solid #dddddd !important;
     font-size: 13px !important;
     border-bottom: 1px solid #fff !important;
     padding:15px !important;
}
.vertical-tabs-list li.selected a {
     border-right: 1px solid #ddd !important;
     background: #7bc !important;
     color: #000 !important;
     text-shadow: #7bc 0px 1px 0px !important;
     padding-left: 50px;
}
.vertical-tabs-list li.selected a:after {
     content:'\25BA';
     font-size: 40px;
     color: #7bc;
     position: absolute;
     display: inline-block;
     top: 30%;
     right:-22px;
     z-index: 10;
}

.vertical-tabs-list li a:hover {
     background: #7bc !important;
     color: #000 !important;
     text-shadow: #7bc 0px 1px 0px !important;
}
.vertical-tabs-list li.selected a:hover {
     background: #7bc !important;
     color: #000 !important;
     text-shadow: #7bc 0px 1px 0px !important;
}
.form-wrapper.form-actions {
     background: #f9f9f9 !important;
}

/* Content edit page end*/

/*===========================================================================================================================================================================*/

.fpa-left-section .item-list ul {
    background: #f9f9f9 !important;
}
.fpa-left-section .item-list ul li:hover{
    background: #eee !important;
}

/*===========================================================================================================================================================================*/

/* kdweb's emendment.*/

select[multiple]{
  min-height: 100px;
}

.fpa-left-section .item-list li{
  margin: 0px;
  padding: 10px 0px;
}
.vertical-tabs-list li a{
  padding-top:10px;
  padding-bottom: 10px;
}
.fpa-filter-form{
  padding: 10px;
}
.column-side .column-wrapper{
  position: fixed;
}
#body-add-more-wrapper fieldset{
  padding: 0;
}
.vertical-tabs .fieldset-content .fieldset-content{
  margin-top: 0 !important;
}

.action-links a{
  font-weight: bold;
  padding-right: 15px !important;
}
.action-links a:hover{
  color: #000;
}
.my-workbench .contextual-links-region{
  margin-bottom: 20px;
}
.button-yes{
  background-color: #7bc !important;
  color: #fff !important;
  text-shadow: #38a 0px 1px 0px !important;
  padding-right:15px;
}
.button-yes:hover{
  background-color: #7bc !important;
  color: #000 !important;
  text-shadow: #7bc 0px 1px 0px !important;
}























